* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightcoral;
}
h1{
    text-align: center;
    padding: 50px 0;
}
h2{
    padding: 10px 0;
}

.flex {
    max-width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.flex-2 {
    max-width: 700px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-2 h2 {
    margin: 0 20px;
}

#vincitore {
    font-size: 30px;
    color: blue;
}